version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: 'painelatualizacao-api'
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "user" ]
      timeout: 45s
      interval: 10s
      retries: 10
    ports:
      - "8085:8085"
    depends_on:
      painelatualizacaodb:
        condition: service_healthy
    environment:
      - DATABASE_URL={DATABASE_URL}
      - DATABASE_NAME={DATA_BASE_NAME}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATA_BASE_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
