version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: 'painelatualizacao-api'
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "user" ]
      timeout: 45s
      interval: 10s
      retries: 10
    ports:
      - "8085:8085"
    environment:
      - DATABASE_URL=painelatualizacaodb.cfwyqygbbgon.us-east-2.rds.amazonaws.com
      - DATABASE_NAME=painelatualizacaodb
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=FhCiiAX8rUg2WM2PnH9E
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

