server:
  port: 8085

spring:
  jpa:
    database: POSTGRESQL
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp:
        use_jdbc_metadata_defaults: false
    database-platform : org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://painel-atualizacoes-db.cfwyqygbbgon.us-east-2.rds.amazonaws.com/painel
    driverClassName : org.postgresql.Driver
    username: postgres
    password: tNSDVeFt0WU9a4qz1abu
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 1

    maxActive: 1
