name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Build and Push Docker Image
      run: |
        # Build your Docker image
        docker build -t viniciom/csg3-painelatualizacoesacademicas .
        # Login to Docker Hub or another container registry
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        # Push the image to the registry
        docker push viniciom/csg3-painelatualizacoesacademicas
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - name: SSH into EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: acessopainelatualizacoesacademica.pem
        script: |
          # Replace these commands with your deployment process
          docker pull viniciom/csg3-painelatualizacoesacademicas
          docker-compose up -d
