name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: actions/setup-docker@v2

    - name: Build and Push Docker Image
      run: |
        # Construa a imagem Docker usando o Dockerfile e dê a ela o nome "painelatualizacao-api"
        docker build -t painelatualizacao-api -f Dockerfile .

        # Faça login no Docker Hub com as credenciais fornecidas como segredos
        echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

        # Envie a imagem Docker para o Docker Hub
        docker push painelatualizacao-api
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

    - name: SSH into EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # Pare os serviços existentes usando docker-compose
          docker-compose down

          # Inicie os serviços usando docker-compose com base no arquivo docker-compose.yml
          docker-compose up -d
